openai
lancedb
qdrant-client
tiktoken
python-dotenv
sentence-transformers
markitdown[pdf]
pdfplumber
PyMuPDF
pdf2image
pytesseract
paddleocr
paddlepaddle
numpy
langchain-text-splitters
fastapi
uvicorn
